<h1>Upload Details</h1>
<p>Filename: <%= @upload.filename %></p>
<p>Content Type: <%= @upload.content_type %></p>

<% if @upload.image? %>
  <h2>Image Preview</h2>
  <%= image_tag @upload.url, class: "upload-preview" %>
<% elsif @upload.text? %>
  <h2>Text Content</h2>
  <pre><%= @upload.text_content %></pre>
<% else %>
  <h2>File Download</h2>
  <%= link_to "Download", @upload.url, class: "btn btn-primary" %>
<% end %>